/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 10px;
}


::selection {
  background: #4b4669;
}





/* erasing margins and padding on whole site*/
* {
  margin: 0; padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

div#menu_bar{ 
    background-color: black;
    width: 100%;
    height: 13vh;
}
.my_name{
    color: #c5c5c3;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: small;
}

.display_img_table{
    display: none;
}
table.display_img_table{
    position: absolute;
    transform: translate(70vw, 75vh);
    border-collapse: separate;
    border-spacing: 0.7vw;
}
table.display_img_table img{
    width: auto;
    height: 15vh;
    border-radius: 3%;
}


.my_education{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
div.my_education{
    background-color: rgb(0, 0, 0);
    width: 30vw;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    transform: translate(38vw, 80vh)
}

.my_name:hover{
    color: #eeeee4;
}
div.my_name_div{
    width: 6.5vw;
    position: relative;
}
div.my_name_div p{
   margin: 0;
   position: absolute;               /* 2 */                         /* 3 */
   transform: translate(5vw, 8vh);   /* 4 */
}

div.social_networks_icon{
    background: url('resources/git_icon.png')no-repeat;
    position: absolute;
    width: 3.6vw;
    height: 3.6vh;
    background-size: 3.6vh;
    transform: translate(92vw,7.5vh);
}
div.social_networks_icon:hover{
    background: url('resources/git_icon_bright.png')no-repeat;
    position: absolute;
    width: 3.6vw;
    height: 3.6vh;
    background-size: 3.6vh;
    transform: translate(92vw,7.5vh);
}


#chart_container div{
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* main div*/
div.main_div{
    position: relative;
    /* background-color: palegoldenrod; */
    width: 100vw;
    height: 87vh;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.right_column{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.left_column{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/* Right column style */
div.right_column{
    /* background-color: white; */
    position: absolute;
    width: 33.3vw;
    height: 87vh;
    transform: translate(66.666vw,0);
}
.right_column ul{
    position: absolute;
    transform: translate(8vw,15vh);
}
.right_column li{
    margin: 2vh;
}
.right_column ul li{
    font-size: 2em;
}
.right_column ul li span{
    font-size: 0.4em;
    color: white;
}
.right_column ul li span:hover{
    font-weight: 500;
}
#list_french{
    color: #007ad6;
}
#list_english{
    color:#00c180;
}
#list_cpp{
    color:#d89615;
}
#list_python{
    color:#d93b52;
}
#list_matlab{
    color:#654fb1;
}
#list_vim{
    color:#007ad6;
}


/* Center column style */
div.center_column{
    /* background-color: black; */
    position: absolute;
    width: 33.3vw;
    height: 87vh;
    transform: translate(33.333vw, 0);
}


/* This div is located on the main body, it centers the image to the actual center of the site*/
.center img{
    width: 10vw;
    height: auto;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Left column style*/
div.left_column{
    /* background-color: blue; */
    position:absolute;
    width: 33.333vw;
    height: 87vh;
}
div.scroll{
    direction: rtl;
    border-radius: 3%;
    background-color: #171717;
    width: 28vw;
    height: 74vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    transform: translate(5vw, 4vh);
}

.info_div{
   margin-left: auto;
   margin-right: auto;
   width: 25vw;
   text-align: justify;
   line-height: 3vh; 
}
div.info_div{
    direction: ltr;    
}
p.custom_title{
    font-weight: 500;
}
